@import './base.scss';
@import './main.scss';

.autocompdiv{
	position: relative;
	z-index: 2;
	input{
		display: block;
	    margin-top: 10px;
	    border: none;
	    //border-bottom: 1px solid #c3c3c3;
	    background-color: inherit;
	    padding: 8px 0;
	    width: 100%;
	    outline: none;
	    font-size: 1rem;
	    font-weight: 300;
	}

	.autocomplist{
		padding: 0;
    	margin: 0;
    	background-color: whitesmoke;
    	position: absolute;
	    width: 100%;
	    z-index: 1;
	    max-height: 150px;
	    overflow: scroll;
	    box-shadow: 3px 4px 10px 0px #a3a3a3;
    	.autocompitem{
    		padding: 5px;
    		border-bottom: 1px solid #c3c3c3;
    		p{
    			margin:0;
    		}
    		span{
    			font-size: 0.8rem;
    		}
    	}
	}
}

.valid-autocomplete{
	border-bottom: 1px solid #c3c3c3;
}
.invalid-autocomplete{
	border-bottom: 1px solid #FF7777;
}