@import './base.scss';
@import './main.scss';

.labeled-input-div{
	display: inline-block;
    position: relative;
    padding: 10px 0;
    margin: 10px 20px 10px 10px;
    text-align: left;
	.label{
		position: absolute;
		@include transition(all 0.4s);
		font-weight: 400;
		font-size: 1.1rem;
	}

	.label-up{
		@include transform(translate(0,-20px) scale(0.75));
		@include transformOrigin(center left);
	}

	.label-down{
		@include transform(translate(0,0) scale(1));
		@include transformOrigin(center left);
	}

	.input-div{
		position: relative;
		input{
			font-size: 1rem;
			border: none;
			border-bottom: 1px solid #c3c3c3;
			outline: none;
			position: relative;
			background-color: transparent;
		}
		span{
			position: absolute;
		    left: 0;
		    top: 100%;
		    font-size: 0.7rem;
		    color: red;
		}
	}
}