@import './base.scss';
@import './main.scss';

.login-page-div{
	background-color: #c3c3c3;
	position: relative;
	.login-div{
		width: 60%;
	    max-width: 500px;
	    min-width: 300px;
	    padding: 10px;
	    background: white;
	    border-radius: 5px;
		h2{
			margin: 0;
    		text-align: center;
    		font-weight: 300;
    		font-size: 1.5rem;
		}
		form{
			margin: 15px 0;
			input{
				width: 80%;
			    padding: 5px;
			    margin-bottom: 10px;
			    font-size: 1rem;
			    outline: none;
			    font-weight: 300;
			}
			button{
				display: block;
			    background-color: green;
			    outline: none;
			    border: none;
			    padding: 10px;
			    color: white;
			    border-radius: 5px;
			    font-size: 1rem;
			    font-weight: 300;
			    cursor: pointer;
			}
		}
	}
}