@import './base.scss';
@import './main.scss';

.multi-select-div{
	border: 1px solid #c3c3c3;
    border-radius: 5px;
    text-align: left;
	.selected-options-div{
		padding: 10px;
	}
	.available-options-div{
		border-top: 4px solid #c3c3c3;
		padding: 10px;
	}
	.multi-select-button{
		padding: 5px 10px;
		border: none;
		margin-left: 10px;
		font-size: 1rem;
	}
}