@import './base.scss';
@import './main.scss';

.top-bar{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	padding: 10px;
	@include box-shadow(1px 1px 9px 2px #c3c3c3);
    background-color: white;
    box-sizing:border-box;
	.search-box{
		display: inline-block;
		position: relative;
		width: 50%;
	    max-width: 500px;
	    min-width: 250px;
	    .label{
	    	position: absolute;
	    	font-weight: 300;
	    	@include transition(all 0.4s);
	    	font-size: 1.4rem;
	    	@include transformOrigin(center left);
	    }

	    .label-down{
	    	@include transform(translate(0,15px) scale(1));
	    }

	    .label-up{
	    	@include transform(translate(0,-2px) scale(0.6));
	    }
	}
	.top-bar-buttons{
		display: inline-block;
	    text-align: right;
	    width: 50%;
	    .add-user-button{
	    	padding:8px;
	    }
	}
}
